.header__lang-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 2;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .header__lang-link {
    line-height: calc(20px + (48 - 20) * ((100vw - 320px) / (750 - 320)));
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (750 - 320)));
  }
}
