.place__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .place__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 650px) {
  .place__text {
    padding: 0 16px;
  }
}
