.place {
  display: grid;
  grid-template: repeat(2, auto) / 460px auto;
  gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template: repeat(2, auto) / 440px auto;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 900px) {
  .place {
    grid-template: repeat(2, auto) / 340px auto;
    gap: 48px 28px;
  }
}



@media screen and (max-width: 700px) {
  .place {
    grid-template: repeat(2, auto) / 280px auto;
    gap: 32px;
  }
}

@media screen and (max-width: 650px) {
  .place {
    grid-template: repeat(2, auto) / auto;
  }
}
